<div class="container py-5">
  <h3>Companies</h3>
  <%= link_to "+ Create a Company", new_company_path %><br>
  <% if @companies.empty? %>
  <p>No Companies Found</p>
  <% else %>
    <ul class="list-group my-5">
      <% @companies.each do |company| %>
        <div class="position-relative">
          <a href="<%= company_path(company) %>" class="list-group-item list-group-item-action">
            <%= company.name %>
          </a>
          <%= link_to company_path(company), data: { remote: true, method: :delete, confirm: "Are you sure?" } do %>
            <%= image_tag "delete.png", class: "delete-icon" %>
          <% end %>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>
